#-----------
# Mongo Configuration
#
# MongoDB is the main database that Amelia uses for a simple yet straightforward
# way of storing data and querying them. I personally don't like SQL.
#----------
MONGO_URI=

#-----------
# Discord Configuration
#
# You can configure the total amount of shards and the token of your Discord
# application here. Ame will use them to access Discord's API.
#----------
DISCORD_TOKEN=
DISCORD_SHARDS=

#----------
# Akari-chan Configuration
#
# Akari-chan is a small HTTP JSON API around Scribblehub and can be found on
# the same mono-repo as Ame-chan. You can configure her address here, for example:
# http://127.0.0.1:5056
#
# Please remember to not include a trailing slash since Ame-chan will include it herself.
#---------
AKARI_CHAN=

#--------
# Logging Configuration
#
# You can configure the settings for each logging module of Ame-chan here.
# These configurations can range from Celestia to Sentry.
#--------
SENTRY_DSN=

#--------
# Environment Configuration
#
# You can configure the environment of Ame-chan here. It is important that
# you configure these as well since there may be performance optimizations
# and stability changes included.
#--------
PRODUCTION=true